---
import type {GetStaticPaths} from "astro";
import MainLayout from "@layouts/MainLayout.astro";
import PokemonCard from "@components/pokemons/PokemonCard.astro";

export const getStaticPaths = (async () => {
    const resp = await fetch('https://pokeapi.co/api/v2/pokemon?limit=151');
    const {results} = await resp.json() as PokemonListResponse;

    return results.map((pokemon) => {
        const pokemonId = pokemon.url.split('/').at(-2);
        return {
            params: {id: pokemonId},
            props: {name: pokemon.name, url: pokemon.url}
        }
    });
}) satisfies GetStaticPaths;

const {id} = Astro.params;
const {url, name} = Astro.props;
const audioUrl = `https://raw.githubusercontent.com/PokeAPI/cries/main/cries/pokemon/latest/${id}.ogg`;
---

<MainLayout title="Pokemon Details">
    <section class="mt-10 mx-10 flex flex-col justify-center items-center">
        <div>
            <a href={`/pokemons/1`} class="text-blue-400">Back to Pagination List</a>
        </div>

        <audio controls autoplay class="mt-10">
            <source src={audioUrl} type="audio/ogg">
            Your browser does not support the audio element.
        </audio>

        <PokemonCard isBig name={name} url={url}/>
    </section>
</MainLayout>
<style>
    a {
        @apply hover:underline text-blue-500;
    }
</style>