---
//? Code of Server-Side Rendering - Built time

//import {ViewTransitions} from "astro:transitions";
import {siteInfo} from "../consts/site-info";

interface Props {
    title: string;
    image?: string;
    description?: string;
}

const {title = siteInfo.title, image = siteInfo.image, description = siteInfo.description} = Astro.props;
---

<html lang="en">
<head>
    <meta charset="utf-8"/>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
    <meta name="viewport" content="width=device-width"/>
    <meta name="generator" content={Astro.generator}/>
    <!--  SEO -->
    <meta name="description" content={description}/>
    <meta name="image" content={image}/>
    <meta name="author" content="Jhoset NG"/>

    <!--  Open Graph / Facebook -->
    <meta property="og:type" content="website"/>
    <meta property="og:title" content={title}/>
    <meta property="og:description" content={description}/>
    <meta property="og:image" content={image}/>

    <!--  Twitter -->
    <meta property="twitter:card" content="summary_large_image"/>
    <meta property="twitter:title" content={title}/>
    <meta property="twitter:description" content={description}/>
    <meta property="twitter:image" content={image}/>
    <!--  REQUIRED -->
    <title> { title } </title>
    <!-- <ViewTransitions/> -->
    <style>
        @view-transition {
            navigation: auto; /* enabled! */
        }
    </style>
</head>
<body class="bg-zinc-800 text-zinc-100 m-auto max-w-3xl">
    <main class="mt-10">
        <slot/>
    </main>
</body>
</html>